<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>天气</title>
		<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.4/jquery.min.js"></script>、
		<script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
		
		<script src="../static/js/jquery-1.11.1.min.js"></script>
		<script src="../static/js/echarts.js"></script>
		<script src="../static/js/china.js"></script>
		<link href="../static/css/main.css" rel="stylesheet"/>
	</head>
	<body>
		<img src="../static/image/back.jpeg" alt="底图说明" style="width: 110%; height: auto;">
		<div id="title">各地人口增长及男女比例</div>
		<div id="tim">我是时间</div>
		<div id="l1">我是左1</div>		
		<div id="l2" >我是左2</div>
		<div id="c1">
			<div class="num"><h1>123</h1></div>
			<div class="num"><h1>123</h1></div>
			<div class="num"><h1>123</h1></div>
			<div class="num"><h1>123</h1></div>
			<div class="txt" style="font-size: 16px;"><h2>当前城市</h2></div>
			<div class="txt" style="font-size: 16px;"><h2>人口总数</h2></div>
			<div class="txt" style="font-size: 16px;"><h2>男生比例</h2></div>
			<div class="txt" style="font-size: 16px;"><h2>女生比例</h2></div>				
		</div>
		<div id="c2">我是中2</div>
		<div id="r1">我是右1</div>
		<div id="r2">我是右2</div>
		<script src="../static/js/left1.js"></script>
		<script src="../static/js/r1.js"></script>
		<script src="../static/js/r2.js"></script>
		<script src="../static/js/c1.js"></script>
		<script src="../static/js/tim.js"></script>
		<script src="../static/js/c2.js"></script>
		<script src="../static/js/l2.js"></script>
		
		
		
		
	</body>
</html>